REACT_APP_API_URL=https://skylinkairway.onrender.com
REACT_APP_SUPABASE_URL=https://zevqkeaxmclpdorzbrxx.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpldnFrZWF4bWNscGRvcnpicnh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MzQzNDAsImV4cCI6MjA5MTMxMDM0MH0.iyUy8VkElbl7R59fUc35TQGiWDL7PjYmFC2WZuKxRJc