# Backend runtime settings
PORT=8000
DATABASE_URL=postgresql://postgres.zevqkeaxmclpdorzbrxx:YOUR_PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
FRONTEND_URL=https://skylinkairway.onrender.com