PORT=8000
DATABASE_URL=postgresql://postgres.zevqkeaxmclpdorzbrxx:bakashAPP_007_nahid@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
FRONTEND_URL=https://skylinkairway-1.onrender.com
SUPABASE_URL=https://zevqkeaxmclpdorzbrxx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpldnFrZWF4bWNscGRvcnpicnh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MzQzNDAsImV4cCI6MjA5MTMxMDM0MH0.iyUy8VkElbl7R59fUc35TQGiWDL7PjYmFC2WZuKxRJc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpldnFrZWF4bWNscGRvcnpicnh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTczNDM0MCwiZXhwIjoyMDkxMzEwMzQwfQ.vwiDdp-O_ud8rJUz-aU8r4jqeaFlUwtMo5XFnVT5zlQ
SUPABASE_JWT_SECRET=80199160-04ff-43cd-818b-02d11dc8457c